@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Nastavit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <h3 class="display-4">@((!String.IsNullOrEmpty(Model.ResultName)) ? Model.ResultName : "Session je prázdná.")</h3>
    <a class="btn btn-danger" asp-page="./Privacy">Jiná stránka se session</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
