@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h3 class="display-4">@((!String.IsNullOrEmpty(Model.Result)) ? Model.Result : "Session je prázdná.")</h3>
</div>
